:root {
    --font : 'Arvo', serif /* css variable, global scope */
}

/* element selector */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* relative unit - 100% of viewport height */
    /* loaded google font */
    font-family: var(--font);
    background-color: rgb(215, 244, 215);
}

/* style custom card tag */
card {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgb(161, 159, 159);
    border: 2px solid rgb(12, 140, 10);
    border-radius: 10px;
    width: 400px;
    height: 600px;
}

img {
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
    max-height: 70%; /* 70% of the card height */
    object-fit: cover; /* fit the image inside the card element */
}

/* grouping selector */
h1, p, button {
    margin: 20px 0px;
    /* text-align: center; */
    font-size: 18px;
    color: #555;
}

span {
    font-size: 2em; /* relative unit */
    display: block;
    /* text-align: center; */
    color: #1a4d23;
    padding-bottom: 10px;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

button {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #4dab60;
    color: #fff;
    margin: 10px;

    /* hover effect */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-family: var(--font);
}

/* id selector */
#btn-div {
    display: flex;
    justify-content: flex-start;
}

/* pseudo-class selector */
button:hover {
    background-color: #1a4d23;
}
