<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="parent">
        <header>
            <nav>
                <a href="#">About Me</a>
                <a href="#">Projects</a>
                <a href="#">Experience</a>
                <a href="#">Experimental</a>
            </nav>
        </header>
        <aside id="left-side">Left Sidebar</aside>
        <main> This is centred using flex</main>
        <aside id="right-side">Right Sidebar</aside>
        <footer>&copy; CSE 134B</footer>
    </div>
</body>
</html>